.home-gallery {
  background-color: rgba(246, 246, 246, 1);
  padding: 3rem 3rem;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(3, minmax(340px, 1fr));
  grid-template-rows: repeat(2, 360px);
  grid-auto-rows: 360px;
  gap: 3rem;
  margin: 0 90px;
}

@media (max-width: 375px) {
  .home-gallery {
    grid-template-columns: 20.938rem;
    grid-template-rows: 15.938rem;
    grid-auto-rows: 15.938rem;
    margin: 1.25rem;
    padding: 0px;
    background-color: unset;
    gap: 1.25rem;
  }
}
